<div class="portlet light ">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Profil Ayarları</span>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">Kullanıcı Bilgileri</a>
            </li>
            <li class="">
                <a href="#tab_1_2" data-toggle="tab" aria-expanded="false">Profil Resmi</a>
            </li>
            <li class="">
                <a href="#tab_1_3" data-toggle="tab" aria-expanded="false">Şifre Değiştir</a>
            </li>
            <li class="">
                <a href="#tab_1_4" data-toggle="tab" aria-expanded="false">Engelli Kişiler</a>
            </li>
            <li class="">
                <a href="#tab_1_5" data-toggle="tab" aria-expanded="false">Özel Ayarlar</a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <!-- PERSONAL INFO TAB -->
            <div class="tab-pane active" id="tab_1_1">
                <form role="form" action="#">
                    <div class="form-group">
                        <label class="control-label">Ad</label>
                        <input type="text" placeholder="John" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Soyad</label>
                        <input type="text" placeholder="Doe" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Telefon Numarası</label>
                        <input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Sosyal Medya Hesapları</label>
                        <input type="text" placeholder="Design, Web etc." class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Meslek</label>
                        <input type="text" placeholder="Web Developer" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Hakkınızda</label>
                        <textarea class="form-control" rows="3" placeholder="We are KeenThemes!!!"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Websiteniz</label>
                        <input type="text" placeholder="http://www.mywebsite.com" class="form-control">
                    </div>
                    <div class="margiv-top-10">
                        <a href="javascript:;" class="btn green"> Değişiklikleri Kaydet </a>

                    </div>
                </form>
            </div>
            <!-- END PERSONAL INFO TAB -->
            <!-- CHANGE AVATAR TAB -->
            <div class="tab-pane" id="tab_1_2">
                <form action="#" role="form">
                    <div class="form-group">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                            <div>
                                <span class="btn default btn-file">
                                    <span class="fileinput-new"> Resim Seç </span>
                                    <span class="fileinput-exists"> Değiştir </span>
                                    <input type="file" name="...">
                                </span>
                                <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Sil </a>
                            </div>
                        </div>

                    </div>
                    <div class="margin-top-10">
                        <a href="javascript:;" class="btn green"> Onayla </a>
                    </div>
                </form>

            </div>
            <!-- END CHANGE AVATAR TAB -->
            <!-- CHANGE PASSWORD TAB -->
            <div class="tab-pane" id="tab_1_3">
                <form action="#">
                    <div class="form-group">
                        <label class="control-label">Şuanki Şifre</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Yeni Şifre</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Yeni şifreyi oynayla</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="margin-top-10">
                        <a href="javascript:;" class="btn green"> Şifreyi Değiştir </a>
                        <a href="javascript:;" class="btn default"> Vazgeç </a>
                    </div>
                </form>
            </div>
            <!-- END CHANGE PASSWORD TAB -->
            <div class="tab-pane" id="tab_1_4">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th class="sepet_td_ortalama"> Profil Resmi </th>
                            <th class="sepet_td_ortalama"> Ad Soyad</th>
                            <th class="sepet_td_ortalama"> Engellenme Nedeni </th>
                            <th class="sepet_td_ortalama"> Eklenme Tarihi </th>
                            <th class="sepet_td_ortalama"> Ayarlar </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX">
                            <td class="sepet_td_ortalama">
                                <img src="bayanayakkabi.jpg" style="height:100px; max-width: 100%;">
                            </td>
                            <td class="sepet_td_ortalama"> Derviş Nurdağ </td>
                            <td class="sepet_td_ortalama">
                                <a href=""> Geri dönmedi </a>
                            </td>
                            <td class="center sepet_td_ortalama"> 12 Jan 2012 </td>
                            <td class="sepet_td_ortalama">
                                <div class="btn-group">
                                    <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        Olay
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-left" role="menu" style="margin-left:-60px;">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-trash-o"></i>Engeli Kaldır
                                            </a>
                                        </li>

                                        <li class="divider"> </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-times "></i> İptal

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <!-- PRIVACY SETTINGS TAB -->
            <div class="tab-pane" id="tab_1_5">
                <form action="#">
                    <table class="table table-light table-hover">
                        <tbody>
                            <tr>
                                <td> Profilimi gizle </td>
                                <td>
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios1" value="option1"> Evet
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios1" value="option2" checked=""> Hayır
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> Koleksiyonlarımı gizle </td>
                                <td>
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios11" value="option1"> Evet
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios11" value="option2" checked=""> Hayır
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> Arkadaşlarımı gizle</td>
                                <td>
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios21" value="option1"> Evet
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios21" value="option2" checked=""> Hayır
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> Takipçilerimi gizle</td>
                                <td>
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios31" value="option1"> Evet
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios31" value="option2" checked=""> Hayır
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td> Takip ettiklerimi gizle </td>
                                <td>
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios41" value="option1"> Evet
                                            <span></span>
                                        </label>
                                        <label class="mt-radio">
                                            <input type="radio" name="optionsRadios41" value="option2" checked=""> Hayır
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--end profile-settings-->
                    <div class="margin-top-10">
                        <a href="javascript:;" class="btn green"> Değişiklikleri Kaydet </a>
                        <a href="javascript:;" class="btn default"> Vazgeç  </a>
                    </div>
                </form>
            </div>
            <!-- END PRIVACY SETTINGS TAB -->
        </div>
    </div>
</div>
