@model object
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var profilBilgilerim =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model));
</script>

<div class="row"  ng-controller="ProfileCtrl">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet ">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img ng-src="{{profilBilgilerim.myProfileImage}}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> {{profilBilgilerim.myFullName}} </div>
                    <div class="profile-usertitle-job"> Elmas Modacı </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                @*<div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green btn-sm">Takip Et</button>
                    <button type="button" class="btn btn-circle red btn-sm">Mesaj Gönder</button>
                    <button type="button" class="btn btn-circle btn-sm" style="margin-top:10px;background-color:greenyellow" ng-click="ArkadasEkle(profilBilgilerim.myId)">Arkadaş Ekle</button>

                </div>*@
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="{{active=='anasayfa'?'active':''}}">
                            <a href="" ng-click="AnaSayfa()">
                                <i class="icon-home"></i> Anasayfa
                            </a>
                        </li>
                        <li class="{{active=='sepet'?'active':''}}">
                            <a href="" ng-click="SepetSayfasi()">
                                <i class="fa fa-shopping-cart"></i> Sepet
                            </a>
                        </li>
                        <li class="{{active=='siparisler'?'active':''}}">
                            <a href=""  ng-click="SiparislerSayfasi()">
                                <i class="fa fa-truck"></i> Siparişler
                            </a>
                        </li>
                        <li class="{{active=='mesajlar'?'active':''}}">
                            <a href="">
                                <i class="fa fa-envelope"></i> Mesajlar
                            </a>
                        </li>
                        <li class="{{active=='arkadaslar'?'active':''}}">
                            <a href="" ng-click="ArkadaslarSayfasi()">
                                <i class="icon-users"></i> Arkadaşlar
                            </a>
                        </li>
                        <li class="{{active=='takipciler'?'active':''}}">
                            <a href="">
                                <i class="fa fa-user-plus"></i> Takipçiler
                            </a>
                        </li>
                        <li class="{{active=='takipedilenler'?'active':''}}">
                            <a href="">
                                <i class="icon-settings"></i> Takip Edilenler
                            </a>
                        </li>
                        <li class="{{active=='ayarlar'?'active':''}}">
                            <a ng-click="AyarlarSayfasi()">
                                <i class="fa fa-user-plus"></i> Ayarlar
                            </a>
                        </li>
                        <li class="{{active=='yardım'?'active':''}}">
                            <a ng-click="YardimSayfasi()">
                                <i class="icon-info"></i> Yardım
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light ">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> {{profilBilgilerim.myCollectionCount}} </div>
                        <div class="uppercase profile-stat-text"> Koleksiyon </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> {{profilBilgilerim.myVoteCount}} </div>
                        <div class="uppercase profile-stat-text"> Oylama </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> {{profilBilgilerim.myVotedCount}} </div>
                        <div class="uppercase profile-stat-text"> Oy verme </div>
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    <h4 class="profile-desc-title">{{profilBilgilerim.myFullName}} Hakkında</h4>
                    <span class="profile-desc-text"> Giyinmek yaşam tarzıdır </span>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-globe"></i>
                        <a href="http://www.keenthemes.com/">www.deneme.com</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-twitter"></i>
                        <a href="http://www.twitter.com/keenthemes/">deneme</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-facebook"></i>
                        <a href="http://www.facebook.com/keenthemes/">deneme</a>
                    </div>
                </div>
            </div>
            <!-- END PORTLET MAIN -->
   
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <div ng-show="loading" class="ng-hide" style="width:100%;height:800px;position:relative">
            <img src="~/Content/img/loading.gif" style="top:40%;left:57%;position:absolute;" />
        </div>
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content" id="profile" ng-show="!loading">
            <script>
                var paylasimlarimModel = "123";             
            </script>
            <div ng-controller="PaylasimlarimCtrl">
                <div class="col-md-6 col-md-offset-3 col-sm-10">
                    <div class="portlet light portlet-fit ">
                        <div class="portlet-body">
                            <div class="timeline">
                                <div class="timeline-body-head-actions">
                                    <div class="btn-group">
                                        <button class="btn btn-circle green btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="javascript:;">Action </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Another action </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Something else here </a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:;">Separated link </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <div class="timeline-body">
                                        <div class="timeline-body-head" style="margin-bottom:40px   ">
                                            <div class="timeline-body-head-caption" style="margin-bottom:5px">
                                                <a href="javascript:;" class="timeline-body-title font-blue-madison"> <img height="35" width="35" src="~/Content/img/erdemprofil.jpg"> Erdem KESKİN,</a><a style="color:cornflowerblue"> Yusuf ÇOLAK</a>'ın oylamasını paylaştı
                                                <span class="timeline-body-time font-grey-cascade">7:45 PM</span>
                                            </div>
                                        </div>
                                        <div class="timeline-body-content">
                                            <div class="product-gallery" style="border:groove;padding-bottom:10px">
                                                <div class="gallery-img" style="height:auto">
                                                    <a>
                                                        <img src='~/Content/img/erkekgomlek1.jpg' alt="img01" style="padding: 0;max-width: 100%;">
                                                    </a>
                                                    <div data-desc="Image1 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row" style="margin-top:5px;margin-bottom:5px">
                                                <div class="col-md-6">
                                                    <span><i class="fa fa-thumbs-up" style="font-size:20px"></i><a style="margin-left:5px">Beğen </a><a> (21)</a></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <span><i class="fa fa-share-alt" style="font-size:20px"></i><a style="margin-left:5px">Paylaş</a> <a> (52)</a></span>
                                                </div>
                                            </div>
                                            <div class="row" style="border-top: 1px solid #e1e2e3;margin-top:10px;padding-top:8px;color:blue">
                                                <div class="panel-group" style="margin-bottom:5px">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" href="#collapse2"><i class="fa fa-suitcase" style="color:blue"></i> Ürünleri Gör</a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapse2" class="panel-collapse collapse">
                                                            <div class="row" style="margin-top:10px">
                                                                <div class="col-md-6">
                                                                    <div class="gallery-img" style="margin-left:25%;height:150px">
                                                                        <a>
                                                                            <img src="~/Content/img/bayan_sapka.jpg" alt="img01" style="padding: 0;max-height:100%;max-width: 100%;">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row" style="margin-top:20%;text-align:center;margin-bottom:10px">
                                                                        <span><a>BİLMEMNE  Sonbahar Şapka</a></span>
                                                                    </div>
                                                                    <div class="row" style="text-align:center">
                                                                        <span>20 ₺</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="margin-top:10px">
                                                                <div class="col-md-6">
                                                                    <div class="gallery-img" style="margin-left:25%;height:150px">
                                                                        <a>
                                                                            <img src="~/Content/img/tshirt.jpg" alt="img01" style="padding: 0;max-height:100%;max-width: 100%;">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row" style="margin-top:20%;text-align:center;margin-bottom:10px">
                                                                        <span><a>LC Waikiki Pembe T-shirt</a></span>
                                                                    </div>
                                                                    <div class="row" style="text-align:center">
                                                                        <span>40 ₺</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="margin-top:10px">
                                                                <div class="col-md-6">
                                                                    <div class="gallery-img" style="margin-left:25%;height:150px">
                                                                        <a>
                                                                            <img src="~/Content/img/kotpantolon.jpg" alt="img01" style="padding: 0;max-height:100%; max-width: 100%;">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row" style="margin-top:20%;text-align:center;margin-bottom:10px">
                                                                        <span><a>LC Waikiki Kotpantolon</a></span>
                                                                    </div>
                                                                    <div class="row" style="text-align:center">
                                                                        <span>70 ₺</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="margin-top:10px">
                                                                <div class="col-md-6">
                                                                    <div class="gallery-img" style="margin-left:25%;height:150px">
                                                                        <a>
                                                                            <img src="~/Content/img/bayanayakkabi.jpg" alt="img01" style="padding: 0;max-height:100%;max-width: 100%;">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row" style="margin-top:20%;text-align:center;margin-bottom:10px">
                                                                        <span><a>BİLMEMNE  Topuklu ayakkabı</a></span>
                                                                    </div>
                                                                    <div class="row" style="text-align:center">
                                                                        <span>100 ₺</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="margin-left:63%">
                                                                <span>Toplam Tutar: 320 ₺</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-group" style="margin-bottom:5px">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a id="on_gosterim_yorumlari_ac" data-toggle="collapse" href="#collapse1"><span><i class="fa fa-comments" style="font-size:20px;color:blue"></i></span> Önceki Yorumlar</a><a> (32)</a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapse1" class="panel-collapse collapse">
                                                            <div class="row" style="margin-left:0px;margin-right:0px;margin-top:5px;overflow-y:scroll;height:500px;">
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/profil_resmi.png" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                                    <div class="col-md-1">
                                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                                    </div>
                                                                    <div class="col-md-11">
                                                                        <div class="row" style="padding-left:5px;">
                                                                            <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                            <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                                        </div>
                                                                        <div class="row" style="padding-left:5px">
                                                                            <span><a style="font-size:12px">Beğen -</a></span>
                                                                            <span><a style="font-size:12px">Yanıtla</a></span>
                                                                            <span><a style="font-size:12px"> - 4 dk</a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="on_gosterim_yorumlar" class="row" style="margin-left:0px;margin-right:0px">
                                                    <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                        <div class="col-md-1">
                                                            <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                        </div>
                                                        <div class="col-md-11">
                                                            <div class="row" style="padding-left:5px;">
                                                                <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                            </div>
                                                            <div class="row" style="padding-left:5px">
                                                                <span><a style="font-size:12px">Beğen -</a></span>
                                                                <span><a style="font-size:12px">Yanıtla</a></span>
                                                                <span><a style="font-size:12px"> - 4 dk</a></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-left:0px;margin-right:0px;margin-bottom:10px">
                                                        <div class="col-md-1">
                                                            <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                        </div>
                                                        <div class="col-md-11">
                                                            <div class="row" style="padding-left:5px;">
                                                                <span><a style="color:blue">Mert İĞDİR</a></span>
                                                                <span style="color:black"> He kesinde öyledir mal ad asd asd asd asd asd asdasd asd asd adsa dasd asdas das d</span>
                                                            </div>
                                                            <div class="row" style="padding-left:5px">
                                                                <span><a style="font-size:12px">Beğen -</a></span>
                                                                <span><a style="font-size:12px">Yanıtla</a></span>
                                                                <span><a style="font-size:12px"> - 4 dk</a></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-left:0px;margin-right:0px">
                                                    <div class="col-md-1">
                                                        <img height="35" width="35" src="~/Content/img/img4.jpg" />
                                                    </div>
                                                    <div class="col-md-11" style="padding-left:5px;">
                                                        <div style="height:35px;width:517px;background-color:#ffffff;border:solid 1px grey"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END TIMELINE ITEM -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>